options:
  image-registry:
    type: string
    description: |
      Source registry of Cloud Controller images.

      By setting to a value, each image listed in the releases manifest
      has its image-registry replaced.

      If unset, the manifests will use the image registry from the kube-control relation

      example)
        juju config openstack-cloud-controller image-registry='rocks.canonical.com:443/cdk'
        juju config openstack-cloud-controller --reset image-registry

  web-proxy-enable:
    type: boolean
    description: |
      Whether the applications managed by this charm should be
      proxied using juju's model-config juju-*-proxy settings.
      (See https://documentation.ubuntu.com/juju/latest/reference/juju-cli/list-of-juju-cli-commands/model-config/).
    default: false

  manager-release:
    type: string
    description: |
      Specify the version of controller-manager-release as defined by the `release`
      tags of https://github.com/kubernetes/cloud-provider-openstack

      example)
        juju config openstack-cloud-controller manager-release='v1.7.3'

      A list of supported versions is available through the action:
        juju run-action openstack-cloud-controller/leader list-releases --wait

      To reset by to the latest supported by the charm use:
        juju config openstack-cloud-controller --reset manager-release

      The current release deployed is available by viewing
        juju status openstack-cloud-controller

  cloud-config:
    type: secret
    description: |
      Secret URI for custom cloud-config.

      Users can provide additional cloud-config values via a Juju secret.
      The secret must contain a 'cloud-config' key with INI-formatted content.

      example)
        juju add-secret ccm-config cloud-config#file=/path/to/cloud-config.ini
        juju grant-secret ccm-config openstack-cloud-controller
        juju config openstack-cloud-controller cloud-config=secret:d5jaau0oknku336fek70

  load-balancer_member-subnet-id:
    type: string
    description: |
      UUID of the subnet for load balancer members. Used when member subnet
      differs from VIP subnet.
